body {
  background-image: url("https://st4.depositphotos.com/1831081/23991/v/600/depositphotos_239913264-stock-video-sad-upside-smiley-hand-drawn.jpg");
  background-size:contain;
  font-family: 'Indie Flower', cursive;
}
.box{
  margin: 3rem;
  background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1.5rem;
  padding: 2rem;

}
.excusa {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000041;
}
.refresh{
    display:flex;
    justify-content: center;
}

button{
    text-decoration: none;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  font-weight: 600;border-radius: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    
}
